<style type="text/css">
  #div1,#div3,#div2 {
    width: 100%;
    height: 300px;
    padding: 10px;
  
  }

  #projectList, #projectList1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    table-layout: fixed;
    height: 50%;
  }

  .highlight {
    border: solid 1px #0d0;
  }

  i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .successbuttonmre {
    background-color: #4CAF50;
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 15px;
    border: none;
    float: right;
    border-radius: 8px;
  }

  .successbutton {
    background-color: #4CAF50;
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 15px;
    border: none;
  }

    .successbutton:hover {
      background-color: #3e8e41;
    }

  div.divborders {
    width: 50%;
    border: 1px dashed black;
    background-color: burlywood;
    height: 100px;
  }

  .tabledata {
    height: 250px;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
</style>

<div>
  <button class="successbutton" (click)="AddTask()">New Task</button>
  <select (change)="onChange($event.target.value)" class="dropbtn">
    <option *ngFor="let task of Tasks" class="dropdown-content">{{task.ProjectTitle}}</option>
  </select>
  <br />
  <br />
  <!--<table id="projectList" border="1">
    <thead>
      <tr>
        <th>To Do</th>
        <th>In Progress</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of Tasks1">
        <td align="center" class="tabledata">
          <div class="divborders">
            <div>
              <label class="labels">
                Task Title:
              </label>
              <label>{{task.TaskTitle}}</label>
            </div>
            <div>
              <label class="labels">
                Description:
              </label>
              <label>{{task.Description}}</label>
            </div>
            <div>
              <label class="labels">
                Due Date:
              </label>
              <label>{{task.DueDate}}</label>

            </div>
            <div>
            </div>
            <button (click)="MoreDetails(task)" class="successbutton">More Details</button>
          </div>
        </td>
        <td align="center">
          <div>
          </div>
        </td>
        <td align="center"></td>
      </tr>
    </tbody>
  </table>-->
  <table id="projectList1" border="1">
    <thead>
      <tr>
        <th>To Do</th>
        <th>In Progress</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of Tasks1">
        <td class="tabledata" align="center">
          <div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)">
            <div class="divborders" id="div4" draggable="true" (dragstart)="drag($event)">
              <div>
                <label class="labels">
                  Task Title:
                </label>
                <label>{{task.TaskTitle}}</label>
              </div>
              <div>
                <label class="labels">
                  Description:
                </label>
                <label>{{task.Description}}</label>
              </div>
              <div>
                <label class="labels">
                  Due Date:
                </label>
                <label>{{task.DueDate}}</label>
              </div>
              <div>
              </div>
              <button (click)="MoreDetails(task)" class="successbuttonmre"><i class="down"></i></button>
            </div>
          </div>
        </td>
        <td align="center">
          <div id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
        </td>
        <td align="center">
          <div id="div3" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<popup #Addpopup>
  <table>
    <tr>
      <td>
        <label for="title" class="labels">Title</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Description</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Due Date</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Project Manager</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Team</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Status</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
  </table>
  <button value="{{mode}}" (click)="Addtask()" class="successbutton">Update</button>
  <button (click)="CancelAdd()" class="successbutton">Cancel</button>
</popup>

<popup #MoreDetailspopup>
  <table>
    <tr>
      <td align="center">Task Title</td>
      <td align="center">
        <input type="text" class="textboxs" name="TaskTitle" [(ngModel)]="mredetails.TaskTitle" #TaskTitle="ngModel" [readonly]="iseditable" />
      </td>
    </tr>
    <tr>
      <td align="center">Description</td>
      <td align="center">
        <input type="text" class="textboxs" name="Description" [(ngModel)]="mredetails.Description" #Description="ngModel" [readonly]="iseditable" />
      </td>
    </tr>
    <tr>
      <td align="center">Due Date</td>
      <td align="center">
        <input type="text" class="textboxs" name="DueDate" [(ngModel)]="mredetails.DueDate" #DueDate="ngModel" [readonly]="iseditable" />
      </td>
    </tr>
    <tr>
      <td align="center">Assigned To</td>
      <td align="center">
        <input type="text" class="textboxs" name="AssignedTo" [(ngModel)]="mredetails.AssignedTo" #AssignedTo="ngModel" [readonly]="iseditable" />
      </td>
    </tr>
    <tr>
      <td align="center">Status</td>
      <td align="center">
        <input type="text" class="textboxs" name="Status" [(ngModel)]="mredetails.Status" #Status="ngModel" [readonly]="iseditable" />
      </td>
    </tr>
    <tr>
      <td align="center">Created By</td>
      <td align="center">
        <input type="text" id="createdOn" class="textboxs" name="CreatedBy" [(ngModel)]="mredetails.CreatedBy" #CreatedBy="ngModel" [readonly]="iseditable" />
      </td>
    </tr>
    <tr>
      <td align="center">Created On</td>
      <td align="center">
        <input type="text" class="textboxs" name="CreatedOn" [(ngModel)]="mredetails.CreatedOn" #CreatedOn="ngModel" [readonly]="iseditable" />
      </td>
    </tr>
  </table>
  <button (click)="editmoredetails()" class="successbutton">Edit</button>
  <button (click)="CancelMreDetails()" class="successbutton">Cancel</button>
</popup>

