

<style type="text/css">
  
  #projectList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    table-layout: fixed;
  }

  .successbutton {
    background-color: #4CAF50;
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 15px;
    border: none;
  }

  .successbutton:hover {
    background-color: #3e8e41
  }

  .deletebutton {
    background-color: #f44336;
    cursor: pointer;
  }

    .deletebutton:hover {
      background-color: #ff6600
    }
</style>
<div>
  <button class="successbutton" (click)="AddProject()" >New Project</button>
  <button class="successbutton" (click)="AddTask()">New Task</button>
  <table id="projectList" border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Project Manager</th>
        <th>Team</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of Projects">
        <td align="center">
          {{project.Title}}
        </td>
        <td align="center">
          {{project.Description}}
        </td>
        <td align="center">
          {{project.DueDate}}
        </td>
        <td align="center">
          {{project.ProjectManager}}
        </td>
        <td align="center">
          {{project.Team}}
        </td>
        <td align="center">
          {{project.Status}}
        </td>
        <td align="center">
          <button class="successbutton" (click)="EditProject(project)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<popup #addpopup>
  <table>
    <tr>
      <td>
        <label for="title" class="labels">Title</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Title1" [(ngModel)]="editProj.Title" #Title1="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Description</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Description1" [(ngModel)]="editProj.Description" #Description1="ngModel"  />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Due Date</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="DueDate1" [(ngModel)]="editProj.DueDate" #DueDate1="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Project Manager</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="ProjectManager1" [(ngModel)]="editProj.ProjectManager" #ProjectManager1="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Team</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Team1" [(ngModel)]="editProj.Team" #Team1="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Status</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Status1" [(ngModel)]="editProj.Status" #Status1="ngModel" />
      </td>
    </tr>
  </table>
  <button value="{{mode}}" (click)="ManageProject(editProj)" class="successbutton">Add</button>
  <button (click)="CancelAdd()" class="successbutton">Cancel</button>
</popup>
<popup #Editpopup>
  <table>
    <tr>
      <td>
        <label id="Title" class="labels">Title</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Title" [(ngModel)]="editProj.Title" #Title="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Description</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Description" [(ngModel)]="editProj.Description" #Description="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Due Date</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="DueDate" [(ngModel)]="editProj.DueDate" #DueDate="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Project Manager</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="ProjectManager" [(ngModel)]="editProj.ProjectManager" #ProjectManager="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Team</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Team" [(ngModel)]="editProj.Team" #Team="ngModel" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Status</label>
      </td>
      <td>
        <input type="text" class="textboxs" name="Status" [(ngModel)]="editProj.Status" #Status="ngModel" />
      </td>
    </tr>
  </table>
  <button value="{{mode}}" (click)="CancelUpdate()" class="successbutton">Update</button>
  <button (click)="CancelUpdate()" class="successbutton">Cancel</button>
</popup>
