

<style type="text/css">
  .projectList {
    width: 75%;
    margin-top: 15px;
  }

  .successbutton {
    background-color: #4CAF50;
    cursor: pointer;
    text-align: center;
  }

    .successbutton:hover {
      background-color: #3e8e41
    }

  .deletebutton {
    background-color: #f44336;
    cursor: pointer;
  }

    .deletebutton:hover {
      background-color: #ff6600
    }
</style>
{{name}}
<input type="text" [(ngModel)]="name" />
<div>
  <b>Project Information</b>
  <div>
  </div>
  <button class="successbutton" (click)="AddProject()">New Project</button>
  <button class="successbutton" (click)="AddTask()">New Task</button>
  <table class="projectList" border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Project Manager</th>
        <th>Team</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of Projects">
        <td align="center">
          {{project.Title}}
        </td>
        <td align="center">
          {{project.Description}}
        </td>
        <td align="center">
          {{project.DueDate}}
        </td>
        <td align="center">
          {{project.ProjectManager}}
        </td>
        <td align="center">
          {{project.Team}}
        </td>
        <td align="center">
          {{project.Status}}
        </td>
        <td align="center">
          <button class="successbutton" (click)="EditProject(project)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<popup #addpopup>
  <table>
    <tr>
      <td>
        <label for="title" class="labels">Title</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Description</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Due Date</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Project Manager</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Team</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Status</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
  </table>
</popup>
<popup #Editpopup>
  <table>
    <tr>
      <td>
        <label id="Title" class="labels">Title</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Description</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Due Date</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Project Manager</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Team</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
    <tr>
      <td>
        <label class="labels">Status</label>
      </td>
      <td>
        <input type="text" class="textboxs" />
      </td>
    </tr>
  </table>
</popup>
